PORT=3000
PUBLIC_URL=http://127.0.0.1:3000
ALLOWED_ORIGINS=*
ENABLE_CLOUDSCRAPER=true
REQUEST_TIMEOUT_MS=20000
ANIMEKAI_BASE=https://anikai.to/
ANIMEPAHE_BASE=https://animepahe.si/
ANIMEPAHE_DEFAULT_REFERER=https://kwik.cx/
HIANIME_DEFAULT_REFERER=https://megaplay.buzz/
HIANIME_DEFAULT_ORIGIN=https://megaplay.buzz
HIANIME_WATCHING_REFERER=https://vidwish.live/
HIANIME_WATCHING_ORIGIN=https://vidwish.live
